/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Oswald:wght@400;600&family=Poppins:wght@500&display=swap');


/* common css  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

}


.container {
    margin: 50px 70px 130px 70px;
}


/* header section css style */

.great-show {
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;

}

.great-show-info {
    width: 531px;
    height: 424px;
    margin: 111px 24px 1px 106px;
}

.great-show-info h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
}

.great-show-info p {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.btn {
    margin-top: 30px;
    background-color: #DD0000;
    border-radius: 9px;
    border: none;
    padding: 15px 16px;

}

.btn a {
    text-decoration: none;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 400;
}

.fa-angle-right {
    padding-left: 20px;
}

.great-show-pic {
    margin: 83px 79px 0px 24px;
    width: 581px;
    height: 613px;

}

.great-show-pic img {
    width: 112%;
}


/* sports full news */

.dash-board {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.upcoming {
    padding: 30px;
    width: 252px;
    height: 64px;
}

.upcoming p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 7px;

}





.group {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 252px;
    height: 64px;


}

.group p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 7px;
}


.blog {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 252px;
    height: 64px;

}


.blog p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    background-color: #DD0000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 7px;
}


.dash-and-temlate-info {
    display: grid;
    grid-template-columns: 312px 936px;
    grid-column-gap: 24px;

}

.template-info {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-column-gap: 20px;
    grid-row-gap: 30px;

}


.template-info-item {
    width: 275px;
    height: 362px;
}

.template-info-item img {
    border-radius: 10px 10px 0px 0px;
    width: 90%;
}

.template-info-title {
    width: 80px;
    height: 25px;
    border: 1px solid #161616;
    margin-top: 20px;
    border-radius: 5px;
}

.template-info-title h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;

    display: flex;
    justify-content: center;
    align-items: center;

}

.template-info-des {
    margin-top: 15px;
    width: 272px;
    height: 54px;
}

.template-info-des p {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    ;

}


.icon {
    margin-top: 20px;
    display: flex;
    width: 243px;
    height: 26px;


}

.hour {
    margin-right: 30px;
}


/* footer section  */

footer {
    width: 100%;
    background-color: #161616;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.footer-title {
    width: 96px;
    height: 60px;
   
   


}

.footer-title h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #FFFFFF;
   
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    margin-top: 50px;
}


.goal-details{
    margin-top: 50px;
    width: 70%;
    display: flex;
    justify-content: center;

}

.goal-details li{
    list-style: none;
    padding: 50px;
    color: #FFFFFF;
}